* {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

:root {
    --blk1: #172317;
    --blk2: #1a1e12;
    --bv: #8a2be2;
    --wht: #fff;
}

::selection{
    color: var(--wht);
    background-color: chocolate;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.header{
    background-color: var(--blk2);
    position: fixed;
    width: 100%;
    padding: 0 100px;
    /* handle card's hover overflow over the nav */
    /* top: 0; 
    left: 0; */
    z-index: 200;
}

.header .nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}

.header .nav-container .logo {
    color:var(--wht);
    font-size: 1.35rem;
    font-weight: 600;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.header .nav-container .logo span{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--bv);
}

.header .nav-container span:nth-child(2) .login, .signup{
    color: var(--wht);
    padding: 5px 10px;
    border: 1.5px solid;
    border-radius: 5px;
}

#create-post {
    margin: 0 40px;
    color: var(--wht);
}

.login:hover, .signup:hover{
    background-color: var(--bv);
    transition: 0.3s;
}

.img-bg {
    width: 100%;
    height: 600px;
    position: absolute;
    z-index: -1;
    background-color: var(--blk1);
    display: flex;
    justify-content: center;
    align-items: center;
    /* 0 0, 100% 0, 100% 100%, 0 100% */
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img{
    margin-top: 150px;
    width: 100%;
    height: 400px;
    object-fit: cover;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.4);
}


.post-title{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-title h3 {
    font-size: 1.35rem;
    font-weight: 700;
}

.post-title .user {
    padding-right: 30px;
    position: absolute;
    display: flex;
    right: 0;
}

.post-title .user p {
    padding-left: 10px;
    font-size: 0.8rem;
}

.post-title .user img{
    margin: 0;
    padding: 0;
    height: 25px;
    width: 25px;
}

.post-body {
    padding: 50px;
    font-size: 1.25rem;
    font-weight: 600;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}

#create-post {
    background-color: rgba(0,0,0,0);
    cursor: pointer;
}

.Edit, .Delete{
    color: var(--wht);
    padding: 5px 20px;
    border: 1.5px solid;
    border-radius: 5px;
    background-color: black;
    margin: 0 10px;
}

.Delete {
    background-color: rgb(195, 33, 33);
}